* {
    margin: 0;
    padding: 0;
}

.main {
    background: #234465;
    padding: 10px 20px 10px 30px;
    width: 1300px;
    height: 300px;
    color: white;
    font-family: Arial;
    font-size: 14px;
}

section {
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    position: relative;
    display: block;
    float: left;
}

li a:hover {
    color: #ff9c00;
}

a {
    color: white;
    text-decoration: none;
}

button {
    width: 150px;
    height: 50px;
    border: 2px solid #ff9c00;
    background: transparent;
    margin-bottom: 5px;
    margin-top: 5px;
}

button:hover {
    background: #ff9c00;
}

footer h2 {
    font-size: 14px;
    color: #ff9c00;
    padding-bottom: 20px;
}

section.first {
    width: 12%;
}

section.second {
    width: 14%;

}

section.fourth {
    width: 19%;
    padding-left: 50px;
    padding-right: 10px;
}

iframe {
    height: 200px;
    background: rgb(210, 210, 210);
}

ul li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px ;
}

ul.social{

    padding-top: 20px;
}

ul.social li {
    padding-right: 5px;
    display: inline;
}