* {
    margin: 0;
    padding: 0;
}

body {
    background: url("formBackground.jpg");
    background-repeat: no-repeat;
    font-family: tahoma;
    font-size: 16px;
    padding: 20px;
}

h3 {
    color: rgba(255, 255, 255, 0.73);
    margin: 5px;
}

fieldset {
    display: inline-block;
    width: 550px;
    border-style: none;
}

input, textarea {
    padding: 8px;
    display: inline-block;
    width: 300px;
    border-radius: 3px;
    border: rgba(128, 128, 128, 0.50);
    font-size: 16px;
}

label {
    padding: 10px;
    display: inline-block;
    width: 120px;

}

fieldset div {
    background: rgba(255, 255, 255, 0.50);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
}

#text label {
    display: inline;
    vertical-align: top;
    margin-right: 73px;
}

textarea {
    height: 100px;
    margin-bottom: 10px;
}

label.card {
    width: 40px;
    padding: 0px;
}

input.card {
    width: 20px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}

button {
    border-radius: 25px;
    width: 100px;
    border: 1px solid black;
    background: black;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin-left: 220px;
    margin-top: 10px;
}