* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 10px;
    padding: 20px 40px;
    width: 1170px;
    height: 70px;
    background: #234465;
    font-family: Arial;
    display: block;
    color: white;
    font-size: 14px;
}

.left {
    float: left;
    width: 30%;
}

.right {
    float: right;
    width: 70%;
}

.up {
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
}

.menu {
    text-align: right;
    padding-top: 13px;
}

.notif {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 30px;
}

.zero {
    vertical-align: middle;
    color: orange;
}

input {
    height: 15px;
    padding: 5px;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 5px;
    display: inline-block;
}

form {
    display: inline;
}

button[type="submit"]{
    width: 27px;
    height: 27px;
    float: right;
    background: white;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid gray;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.menu {
    padding-top: 10px;
    padding-bottom: 5px;
}

.beta {
    display: block;
    left: 281px;
    top: 37px;
    position: absolute;
    font-size: 10px;
}

nav {
    line-height: 36px;
}
nav:hover {
    cursor: pointer;
    border-radius: 5px;
}
ul {
    margin: 0;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}
ul:after {
    content: "";
    clear: both;
    display: block;
}
ul li {
    text-transform: uppercase;
    margin-left: 33px;
}
ul li {
    float: left;
}
ul li:hover {
    background: #428BCA;
    outline: none;
	border-radius: 5px;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
}
ul ul {
    background: #234465;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: left;
    text-transform: none;
    font-weight: 400;
    position: absolute;
    width: 300px;
    top: 110%;
    margin-left: -10px;
    margin-top: -10px;
    padding: 0;
    display: none;
}
ul li:hover > ul {
    display: block;
}
ul ul li {
    float: none;
    border-bottom: 1px solid #575f6a;
}
ul ul li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

ul ul li a:hover {
    background: #FF9C00;
}