* {
    padding: 0;
    margin: 0;
}

form {
    background: #e3e3e3;
    width: 222px;
}

table, td {
    border: 1px solid black;
}

input[type="text"] {
    width: 210px;
    height: 50px;
    display: block;
    background-color: #ffffff;
    text-align: right;
    font-size: 26px;
}

input[type="button"] {
    width: 50px;
    height: 50px;
    display: block;
    font-size: 22px;

}

td {
    height: 50px;
    width: 50px;
}